<app-username [username]="'Chris'" (userClicked)="onUserWasClicked($event)"></app-username>
<app-username [username]="'AnnA'" (userClicked)="onUserWasClicked($event)"></app-username>

<h1 [ngClass]="{updated: name != 'Max'}">
  <!-- {{title}} -->
  Hey {{name}}
</h1>
<p *ngIf="name != 'Max'">Name changed</p>
<button (click)="onChangeName()">Change Name</button>
<button (click)="onAddElement()">Add Element</button>
<ul>
  <!-- id="{{'element' + element}}" -->
  <li 
    *ngFor="let el of elements"
    [id]="'element' + el"
    [ngStyle]="{backgroundColor: getColor(el)}"
    >element {{el}}</li>
</ul>
